body {
    margin: 20px;
}

header {
    position: relative;
    height: 170px;
    width: 100%;
    background-color: white;
    border: black 3px solid;
}

.small {
    position: absolute;
    height: 120px;
    width: 40px;
    bottom: 10px;
    left: 7px;
    background-color: blueviolet;
}

.big {
    position: absolute;
    height: 150px;
    width: 300px;
    bottom: 10px;
    left: 80px;
    background-color: green;
}

.circle {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    bottom: 10px;
    left: 450px;
    background-color: skyblue;
}

section {
    position: relative;
    height: 220px;
    width: 100%;
    border: black 3px dotted;
    margin-top: 20px;
    ;
}

.rectangle {
    position: absolute;
    height: 160px;
    width: calc(100vw - 100px);
    top: 30px;
    left: 30px;
    background-color: rgb(251, 245, 192);
    box-shadow: 5px 5px 6px;
    
}

footer {
    position: relative;
    height: calc(100vh - 170px - 20px - 220px - 20px);
    width: calc(100vw - 66%);
    margin-top: 20px;
    bottom: 0;
    border: rgb(226, 223, 223) 1px solid;
    background-color: white;
    left: 33.33%;
    box-shadow: 3px 3px 6px rgb(189, 187, 187);
}

h1 {
    position: absolute;
    color: purple;
}